.skeleton {
    background-color: #d2d2d2;
    border-radius: 4px;
    animation: loader 1s infinite;
}

.movie-info-skeleton {
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
}

.title-skeleton {
    height: 40px;
    width: 60%;
    margin: 14px 0;
}

.image-skeleton {
    width: 800px;
    max-width: 100%;
    height: 340px;
    margin-bottom: 14px;
}

.synopsis-title-skeleton {
    height: 24px;
    width: 30%;
    margin-top: 14px;
}

.overview-skeleton {
    height: 80px;
    width: 100%;
    margin: 8px 0;
}

.rating-skeleton {
    height: 20px;
    width: 20%;
    margin: 8px 0;
}

.buttons-area-skeleton {
    display: flex;
    gap: 12px;
    margin-top: 14px;
}

.button-skeleton {
    height: 40px;
    width: 100px;
}

@keyframes loader {
    from {
        background-position: -100% 0;
    }

    to {
        background-position: 100% 0;
    }
}